<tr>
  <th scope="row"><%= flight.id %></th>
  <td><%= link_to flight.airplane.model_name, airplane_show_path(flight.airplane) %></td>
  <td><%= link_to flight.airplane.registration_number, airplane_show_path(flight.airplane) %></td>
  <td><%= flight.take_off_start_time %></td>
  <td><%= flight.take_off_end_time %></td>
  <td><%= flight.status %></td>
  <% if flight.status != :ended %>
    <td><%= link_to 'Edit', flights_edit_path(flight) %></td>
    <td><%= link_to 'Delete', flights_delete_path(flight) %></td>
  <% end %>
</tr>