<tr>
  <th scope="row"><%= flight.id %></th>
  <td><%= flight.airplane.model_name %></td>
  <td><%= flight.airplane.registration_number %></td>
  <td><%= flight.take_off_start_time %></td>
  <td><%= flight.take_off_end_time %></td>
  <td><%= flight.status %></td>
</tr>